body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #32CD32; /* Green */
    color: #ffffff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.chat-box {
    padding: 20px;
}

.chat-log {
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
}

#message {
    width: 70%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 25%;
    padding: 10px;
    background-color: #32CD32; /* Green */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2ecc71;
}

.user-message {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.bot-message {
    background-color: #32CD32; /* Green */
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
}
